# Python cache
__pycache__/
*.pyc

# Log files
*.log
Client/ftp_client.log

# IDE/editor config
.vscode/
.idea/

# Virtual environments
env/
venv/

# OS system files
.DS_Store
Thumbs.db

# Temporary folders
downloads/
